<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Прогноз погоды</title>
   <!-- Bootstrap CSS -->
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
   <h1 class="text-center mb-4">Сайт с прогнозом погоды в любой точке мира</h1>
   <!-- создаём форму для запроса -->
   <form method="post" class="form-inline justify-content-center mb-4">
       <div class="form-group mx-sm-3 mb-2">
           <input type="text" class="form-control" name="city" placeholder="Введите город" required>
       </div>
       <button type="submit" class="btn btn-primary mb-2">Узнать погоду</button>
   </form>

   <div class="result text-center">
        {% if weather %}
           <h3>Погода в {{ weather['name'] }}</h3>
           <p>Температура: {{ weather['main']['temp'] }}°C</p>
           <p>Погода: {{ weather['weather'][0]['description'] }}</p>
        {% endif %}
   </div>

   <div class="result text-center">
       {% if news %}
           <h2>Новости:</h2>
           <ul>
               {% for article in news %}
                   <li><a href="{{ article['url'] }}"> {{ article['title'] }} </a></li>
               {% endfor %}
           </ul>
       {% endif %}
   </div>

</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
</body>
</html>